button{
    color:#f9fAf8;
    background-color: #3882f6;
    border-radius:10px;
    padding:10px;
}
body{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content:stretch ;
    margin:0 0;
}
.header-links{
    display:flex;
    flex-direction:row;
    gap:30px;
}
.header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    background-color: #1f2937;
    color:white;
    flex:0;
    padding:0px 30px;
    
} 
.section{
    display:flex;
    flex:1 0 400px;
}
h1{
    font-size:48px;
    font-weight:900;
    color:#f9faf8;

}
.section1{
    flex-direction:row;
    color:#f9fAF8;
    background-color:#1f2937 ;
    padding: 2rem 3rem;
}
.section1button{
    border-color: #3882f6;
}
.section2{
    flex-direction:column;
    flex-wrap:wrap;
}
.section2header{
    margin:30px;
    display: flex;
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    justify-content: center;

}
.logo{
    font-size:32px;
}
.img-holder {
    flex:1;
    display:flex;
    

    
}
@media (max-width:700px){
    .section1 {
        flex-direction:column-reverse;
    }
}
.hero-img{
    flex:1 1 400px;
    max-width: 500px;
    min-width:200px;
    height:auto;

}
.fact-text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.textbox{
    flex:1;
    color:#f9fAF8;
    padding:1rem;
}

.quote{
   font-size: 36px;
   font-style:italic;
   font-weight:200;
   color:#1f2937; 
}
.fact-img{
    height:150px;
    width:150px;
    border:2px solid blue;
    border-radius:10px;
}
.fact{
    flex:0 0 150px;
}
.fact-text{
    text-align:center;
    
}
.section2content{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    gap:2rem;
}
.section3{
    background-color: #e5e7eb;
    flex-direction: column;
    padding:60px;
    align-items:center;
    justify-content:center;
}
.quotesource{
    color:#1f2937; 
    font-size:24px;
    align-self:flex-end;
}
.section4{
    align-items:center;
    justify-content:center;
}
.cta{
    margin:0px  0px;
    font-size:32px;
    font-weight:700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.footer{
    color:#e5e7eb;

    background-color: #1f2937;
    flex:0 0 50px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.section4box{
 margin: 80px;
 border-radius: 10px;
 background-color:#3882f6;
 padding:30px;
 display:flex;
 align-items:center;
 gap:40px;           
}
.section4text{
display:flex;
flex-direction:column;
justify-content:center;


}
li{
    list-style-type: none ;
}
a{
    color:#e5e7eb;
}